h1 {
    color: red;
    text-align: center;
    font-family: 'Faster One';
    font-size: 3rem;
} 

#template {
    background: rgb(240, 131, 207);
    width: 400px;
    text-align: center;
}

body{
    background: url(../images/RETRO.jpg);
};



