body{
    background: url(../images/RETRO.jpg);
};

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 29px; 
} 

#template {
    background: rgb(240, 131, 207);
    text-align: center;
    width: 73rem;
    margin-top: 70px;
    margin-left: 168px;
    padding-bottom: 31rem;
};


 

